
body{
    margin: 0;
    height: 100%;
    background-color: rgb(0, 5, 158);
}

video{
    position: fixed;
    min-width: 100%;
    max-height: 100%;
}

.startbutton{
    position: absolute;
    width: 379px;
    height: 86px;
    left: 770px;
    top: 785px;
    cursor: pointer;
    border: 5px solid #FFFFFF;
    border-radius: 29px;
    color: #3300FF;
    background-color: transparent;
    transition: all .3s linear;

    z-index:100
    
}

.startbutton:hover{
    background-color: rgb(0, 4, 255,0.5);
    color: #fff;
}

.start{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 74px;
    text-align: center;
    letter-spacing: 0.065em;
    text-decoration: none;
}
